.emailmeContainer {
  position: relative;
  min-height: 100vh;
  height: 100vh;
  max-height: 100vh;
  min-width: 100vw;
  width: 100vw;
  z-index: 1;
  background-color: #452165;
  color: white;
  overflow-y: hidden;
  scroll-snap-align: center;

  .scrollPrevPage {
    position: absolute;
    z-index: 99;
    color: rgba(255, 255, 255, 0.6);
    font-size: 0.9rem;
    left: 10px;
    top: 5px;
    cursor: pointer;
  }
  .scrollPrevPage:hover {
    color: white;
  }

  .tipsIconContainer {
    position: absolute;
    top: 30px;
    left: 25px;
    display: flex;
    flex-direction: row;
    z-index: 20;
    .aboutIcon {
      font-size: 2.5rem;
      color: rgba(255, 255, 255, 0.33);
      cursor: pointer;
    }
    .aboutIcon:hover {
      color: white;
    }
    .insightsIcon {
      font-size: 2.5rem;
      color: rgba(255, 255, 255, 0.33);
      cursor: pointer;
    }
    .insightsIcon:hover {
      color: rgb(255, 157, 0);
    }
  }

  .helpContentContainer {
    position: relative;
    cursor: pointer;

    .aboutTipContainer {
      position: absolute;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      top: 65px;
      left: 40px;
      z-index: 20;
      white-space: normal;
      border-radius: 15px;
      margin-left: 10px;
      width: 45vw;
      max-width: 45vw;
      height: auto;
      border: 5px solid white;
      background-color: rgb(0, 0, 66);
      color: white;
      padding: 15px;
      scrollbar-width: none;
      overflow-y: scroll;
      .aboutIconMark {
        font-size: 3rem;
      }
      .aboutTipText {
        margin: 0;
        font-family: sans-serif;
        font-size: 1rem;
        padding: 10px;
      }
    }
    .myBubbleHead {
      position: absolute;
      top: 65px;
      left: 40px;
      height: 72px;
      width: 72px;
      object-fit: contain;
      border-radius: 50%;
      border: 2.5px solid rgba(255, 157, 0, 0.9);
      z-index: 5;
    }
    ::-webkit-scrollbar {
      width: 0px;
      background-color: #000;
    }
    ::-webkit-scrollbar-thumb {
      background-color: #336;
    }
    .insightsContainer {
      position: absolute;
      top: 20px;
      left: 127px;
      z-index: 20;
      white-space: normal;
      border-radius: 25px;
      padding: 10px;
      width: auto;
      max-width: 60vw;
      height: auto;
      max-height: 90vh;
      border: 5px solid rgba(255, 157, 0, 0.9);
      background-color: rgba(0, 0, 0);
      color: white;
      overflow-y: scroll;
      scrollbar-width: none;
      ::-webkit-scrollbar {
        width: 1px;
        background-color: #000;
      }
      ::-webkit-scrollbar-thumb {
        background-color: #336;
      }
      .insightsHeading {
        font-family: sans-serif;
        font-size: 1.2rem;
        font-variant: small-caps;
        padding-left: 10px;
        margin: 0;
      }
      .insightsText {
        margin: 0;
        font-family: sans-serif;
        font-size: 0.95rem;
        padding: 10px;
      }
    }
    .insightsPointer {
      position: absolute;
      display: block;
      width: 0;
      z-index: 12;
      border-style: solid;
      border-color: transparent rgba(255, 157, 0, 0.9);
      border-width: 11px 42px 11px 0;
      top: 128px;
      left: 85px;
      margin-top: -11px;
    }
  }

  .emailmeWrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    #contactForm {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 10px;
      width: 100%;
      overflow-y: hidden;

      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      input[type="number"] {
        -moz-appearance: textfield;
      }

      .inputContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 75%;
        height: 85%;
        overflow-y: hidden;

        .contactName {
          display: flex;
          align-items: center;
          flex-direction: column;
          width: 100%;
          padding-bottom: 20px;
          .contactSubHeading {
            font-size: 4rem;
            margin: 0;
          }
          #yourName {
            width: 70%;
            background-color: transparent;
            text-align: center;
            color: #fff;
            font-size: 2.5rem;
            border: none;
            outline: none;
            font-family: sans-serif;
          }

          .shortHR {
            color: white;
            font-weight: 600;
            width: 40%;
            border-width: 1px;
            border-color: #fff;
          }
        }

        .contactReason {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          padding-bottom: 20px;
          .contactSubHeading {
            font-size: 3.5rem;
            margin: 0;
            text-align: center;
          }
          .contactRadioOptions {
            display: flex;
            flex-direction: row;
            margin: 20px 0px;
            align-items: center;

            .formLabel {
              display: flex;
              text-align: center;
              flex-direction: column;
              align-items: center;
              font-size: 2rem;
              cursor: pointer;
              margin-right: 30px;

              input[type="radio"] {
                border: 0px;
                width: 2.2rem;
                height: 2.2rem;
                border: none;
                outline: none;
                cursor: pointer;
                margin-bottom: 5px;
              }
            }
          }
          .shortHR {
            color: white;
            font-weight: 600;
            width: 40%;
            border-width: 1px;
            border-color: #fff;
          }
        }

        .contactPref {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;

          .contactSubHeading {
            font-size: 3.5rem;
            margin: 0;
            text-align: center;
          }
          .contactMethodContainer {
            display: flex;
            flex-direction: row;
            width: 100%;
            align-items: center;
            justify-content: center;

            details > summary {
              list-style: none;
            }

            details summary::-webkit-details-marker {
              display: none;
            }

            details {
              display: flex;
              align-items: center;
              flex-direction: column;
              justify-content: center;
              cursor: pointer;
              margin-right: 15px;

              .contactIconEmail,
              .contactIconWhatsApp,
              .contactIconDiscord {
                display: flex;
                vertical-align: middle;
                width: 60px;
                height: 60px;
                margin-right: 30px;
                padding: 4px;
                border-radius: 50%;
              }
              #yourNumber,
              #yourDiscord,
              #yourEmail {
                display: flex;
                min-width: 15vw;
                width: 15vw;
                height: 10vh;
                min-height: 10vh;
                background-color: transparent;
                color: #fff;
                font-size: 1.8rem;
                padding-left: 15px;
                border: none;
                outline: none;
                font-weight: normal;
                font-family: sans-serif;
                :focus {
                  background-color: transparent;
                }
                :active {
                  background-color: transparent;
                }
              }
              .contactIconWhatsApp:hover {
                background-color: #25d366;
                padding: 4px;
                border-radius: 50%;
              }
              .contactIconDiscord:hover {
                background-color: #5562ea;
                padding: 4px;
                border-radius: 50%;
              }
              .contactIconEmail:hover {
                background-color: white;
                padding: 4px;
                border-radius: 50%;
                color: black;
              }
            }
          }
        }
      }

      #emailButton {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        top: 25px;
        right: 25px;
        height: 150px;
        width: 150px;
        border-radius: 50%;
        background-color: maroon;
        border: 4px solid white;
        color: white;
        font-size: 2rem;
        padding: 25px;
        cursor: pointer;
        -webkit-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.75);
      }
      #emailButton:hover span {
        display: none;
      }
      #emailButton:hover:before {
        content: "do it";
      }
      #emailButton:active {
        transition: 0.3s;
        -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
      }
      #emailButton:active:before {
        content: "no going back now";
        aspect-ratio: 1/1;
        position: absolute;
        top: -10px;
        right: -10px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        background-color: #7030e1;
        border: 4px solid white;
        color: white;
        font-size: 1.25rem;
        padding: 25px;
      }
    }
  }
}

@media only screen and (max-width: 1440px) {
  .emailmeContainer {
    .helpContentContainer {
      .insightsContainer {
        max-width: 50vw;
      }
    }

    .emailmeWrapper {
      #contactForm {
        margin-top: 55px;

        .inputContainer {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 75%;
          height: 80%;
          overflow-y: hidden;

          .contactName {
            .contactSubHeading {
              font-size: 2.5rem;
            }
            #yourName {
              font-size: 1.8rem;
            }
          }

          .contactReason {
            .contactSubHeading {
              font-size: 2.4rem;
            }
            .contactRadioOptions {
              .formLabel {
                font-size: 1.8rem;
              }
            }
          }

          .contactPref {
            .contactSubHeading {
              font-size: 2.4rem;
            }

            details {
              #yourNumber,
              #yourDiscord,
              #yourEmail {
                color: #fff;
                font-size: 1.5rem;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .emailmeContainer {
    .helpContentContainer {
      display: flex;
      flex-direction: column;
      cursor: pointer;

      .aboutTipContainer {
        top: 60px;
        left: 0px;
        padding: 5px;
        width: 94vw;
        max-width: 94vw;
        height: auto;
        max-height: 78vh;
        .aboutTipText {
          font-size: 0.95rem;
        }
      }
      .myBubbleHead {
        top: 25px;
        left: 55px;
        height: 50px;
        width: 50px;
        z-index: 20;
      }
      .insightsContainer {
        top: 70px;
        left: -5px;
        z-index: 20;
        margin-left: 10px;
        padding: 10px;
        width: 80vw;
        max-width: 80vw;
        height: 75vh;
        max-height: 75vh;
      }
      .insightsPointer {
        display: none;
      }
    }
    .emailmeWrapper {
      position: relative;
      display: flex;
      align-self: baseline;
      align-items: center;
      justify-content: center;
      z-index: 1;
      height: 100vh;
      width: 100%;

      #contactForm {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 0px;
        width: 100%;
        height: 100vh;

        .inputContainer {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          min-width: 100vw;
          width: 100vw;
          min-height: 100vh;
          height: 100vh;
          overflow-x: scroll;
          scroll-behavior: smooth;
          scroll-snap-type: x mandatory;

          .contactName {
            scroll-snap-align: center;
            justify-content: center;
            min-height: 100vh;
            height: 100vh;
            min-width: 100vw;
            width: 100vw;
            padding-bottom: 0px;
            .contactSubHeading {
              font-size: 2rem;
              padding-bottom: 10px;
            }
            #yourName {
              min-width: 300px;
              width: 94%;
              min-height: 18px;
              height: 20px;
              font-size: 18px;
            }
            .shortHR {
              display: none;
            }
          }

          .contactReason {
            scroll-snap-align: center;
            justify-content: center;
            min-height: 100vh;
            height: 100vh;
            width: 100vw;
            min-width: 100vw;
            .contactSubHeading {
              font-size: 1.9rem;
              text-align: center;
              margin: 0;
            }
            .contactRadioOptions {
              flex-direction: column;
              .formLabel {
                font-size: 1.2rem;
                margin-right: 20px;

                input[type="radio"] {
                  border: 0px;
                  width: 1.5rem;
                  height: 1.5rem;
                  margin-bottom: 5px;
                }
              }
            }
            .shortHR {
              display: none;
            }
          }

          .contactPref {
            scroll-snap-align: center;
            justify-content: center;
            min-height: 100vh;
            height: 100vh;
            width: 100vw;
            min-width: 100vw;
            .contactSubHeading {
              font-size: 1.9rem;
              margin-bottom: 15px;
            }
            .contactMethodContainer {
              flex-direction: column;
              max-width: 100%;

              details {
                .contactIconEmail,
                .contactIconWhatsApp,
                .contactIconDiscord {
                  width: 40px;
                  height: 40px;
                  margin-right: 0px;
                  padding: 4px;
                  border-radius: 50%;
                  margin-left: 10px;
                }
                #yourNumber,
                #yourDiscord,
                #yourEmail {
                  display: flex;
                  min-width: 300px;
                  width: 98%;
                  min-height: 20px;
                  height: 22px;
                  font-size: 18px;
                  background-color: transparent;
                  padding-left: 5px;
                  margin-left: 10px;
                  font-weight: normal;
                }
              }
            }
          }
        }

        #emailButton {
          top: unset;
          bottom: 25px;
          right: 25px;
          height: 70px;
          width: 70px;
          font-size: 1.1rem;
          text-align: center;
          cursor: pointer;
          border: 2px solid white;
          -webkit-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.75);
          -moz-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.75);
        }
        #emailButton:hover span {
          display: none;
        }
        #emailButton:hover:before {
          content: "sent";
        }
        #emailButton:active:before {
          content: "";
          height: 0px;
          width: 0px;
          border: 0px solid white;
          font-size: 0rem;
          padding: 0px;
        }
      }
    }
  }
}
